@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

body {
    background-color: #1c1c1c;
}

.heading-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: deeppink;
    text-shadow: 2px 2px indigo;
    font-family: 'Fira Sans', sans-serif;
}