@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Fira+Sans&family=Poppins&display=swap");

section p {
  font-family: "Fira Sans", sans-serif;
}

#about h2 {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  padding-top: 6rem;
  background-color: rgb(37, 37, 37);
}

#projects {
  background-color: rgb(37, 37, 37);
}
#projects h2 {
  font-family: "Poppins", sans-serif;
}
#contact h2 {
  font-family: "Poppins", sans-serif;
}
footer {
  font-family: "Fira Sans", sans-serif;
}
